@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
	--bgColor: #282C34;
	--textColor: #00FF00;
}

body {
  background: var(--bgColor);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: var(--textColor);
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}